@import "~gmf/components/MdAnimation/variables";
@import "~gmf/components/MdLayout/mixins";


.md-pag-tabs {
  .md-tabs-navigation {
    >.md-button {
      opacity: .8;
      &.md-active {
        opacity: 1;
      }
      >.md-ripple {
        padding-right: 8px;
      }
      &:hover {
        .md-delete {
          transform: translate3d(0px, 0px, 0px);
          opacity: 1;
        }
      }
      .md-delete {
        min-width: auto;
        min-height: auto;
        padding: 0px;
        margin: 0px 0px 0px 5px;
        width: auto;
        height: auto;
        transform: translate3d(220%, 0px, 0px);
        opacity: 0;
        .md-ripple {
          padding: 0px;
          margin: 0px;
        }
        .md-icon {
          min-width: auto;
          min-height: auto;
          padding: 0px;
          margin: 0px;
          font-size: 18px;
          height: 18px;
          width: 18px;
        }
      }
    }
  }
}

.md-pag-container {
  display: none;
  &.md-active {
    display: block;
  }
}