@import "~gmf/theme/engine";

@include md-register-theme("dark", (
  primary:#404E67,
  accent:#00B5B8,
  toolbarvariant: #404E67,
  background:#404E67,
  text-primary-on-background:#dcdcdc,
  icon-on-background:#dcdcdc,
  divider-on-background:#38445A,
  theme: dark
));
@import "./imports.scss";
