@import "~gmf/theme/engine";

@include md-register-theme("default", (
  primary:#0f9d58,
  accent:#db4437,
  warn:#404e67,
  text-primary-on-primary:#FFFFFF,
  background-variant:#f0f0f0
));

@import "./imports.scss";

